__pycache__/
*.mp4
*.env
run_server.sh
*.m3u8

ui/node_modules
node_modules
node_modules/

dist/


build/
resources/
.eslintcache

backend/video/segments

downloads

*.exe
backend/lisa

env/
venv/

.idea