.video-js .vjs-control-bar {
    color: #ffffff;
    font-size: 12px;
}

.video-js {
    font-size: 10px;
    color: #fff;
}

.vjs-default-skin .vjs-big-play-button {
    font-size: 3em;

    line-height: 2.5em;
    height: 2.5em;
    width: 2.5em;
    /* 0.06666em = 2px default */
    border: 0.06666em solid #fff;
    /* 0.3em = 9px default */
    border-radius: 50%;
    /* Align center */
    left: 50%;
    top: 50%;
    margin-left: -1.25em;
    margin-top: -1.25em;
}

.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
    background-color: #2b333f;
    background-color: rgba(43, 51, 63, 0);
}

.video-js .vjs-slider {
    background-color: #73859f;
    background-color: rgba(115, 133, 159, 0.5);
}

.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
    background: #fff;
}

.video-js .vjs-load-progress {
    background: #bfc7d3;
    background: rgba(115, 133, 159, 0.5);
}

.video-js .vjs-load-progress div {
    background: rgb(0, 162, 255);
    background: rgb(0, 162, 255);
}
